.section {
  width: 100%;
  max-width: 100%;
  padding: 1rem 6rem;
  background-color: var(--secondary-color);

  .header {

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 2.25rem;
      line-height: 124%;
      text-align: left;

      text-transform: capitalize;

      margin-bottom: -0.5rem;
      color: var(--primary-color);
    }

  }

  .body {
    p {

      font-style: normal;
      font-weight: 400;
      font-size: 1.75rem;
      line-height: 150%;
      color: #3E3B3B;


    }

    ul {
      padding-inline-start: 1.5rem;

      li {
        p {
          span {
            color: var(--primary-color);
          }
        }
      }
    }

    a {
      display: none;
      font-style: normal;
      font-weight: 400;
      font-size: 1.625rem;
      line-height: 92%;
      /* identical to box height, or 92% */

      text-transform: capitalize;

      color: var(--primary-color);

    }

    .textAndImgSection {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2rem;

      p {
        width: 48%;

        a {
          display: inline-block;
          margin-top: 1.5rem;
        }

      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .section {
    .body {
      padding: 0.2rem 1rem;

      a {
        display: block;
        font-size: 1.2rem;
        margin: 0 auto;
        width: fit-content;
        align-self: center;
      }

      .textAndImgSection {
        flex-wrap: wrap;
        justify-content: center;

        p {
          width: 100%;

          a {
            display: none;
          }
        }

        img {
          width: 90%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .section {
    padding: 0 1rem;

    .header {
      // padding: 1rem 18rem;
      margin-left: 1rem;

      h1 {
        padding-top: 1rem;
        font-size: 2rem;
        line-height: 2rem;
        text-align: left;
      }

      // padding: 2rem 10rem 1rem;
    }

    .body {
      padding: 0.2rem 1rem;

      p {
        font-size: 1.25rem;
        // padding: 0.5rem 1rem;
      }

      .textAndImgSection {
        flex-wrap: wrap;

        p {
          width: 100%;

        }

        img {
          width: 90%;
        }
      }
    }
  }
}

//font sizes for mobile
@media only screen and (max-width: 500px) {
  .section {
    padding: 0;

    .header {
      // padding: 1rem 18rem;
      margin-left: 1rem;

      h1 {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }

      // padding: 2rem 10rem 1rem;
    }

    .body {}
  }
}