.section {
  width: 100%;
  max-width: 100%;

  .header {
    width: 100%;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 2.25rem;
      line-height: 2.75rem;
      text-align: center;
      text-transform: capitalize;
      color: var(--primary-color);
    }
  }

  .body {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .images {
      width: 60%;
      padding: 1rem;
      display: flex;
      margin: 0 auto;
      justify-content: space-around
    }

    a {
      display: block;
      width: fit-content;
      text-align: center;
      background: var(--primary-color);
      border-radius: .5rem;
      padding: 1rem;
      color: var(--white-color);
      margin-bottom: 2rem;
      font-style: normal;
      font-weight: 400;
      font-size: 1.625rem;
      line-height: 1.5rem;
    }

  }
}

@media only screen and (max-width: 1500px) {
  .section {
    .body {
      .images {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .section {
    .body {
      .images {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .section {
    padding: 0 1rem;

    .header {
      margin-left: 0rem;
      padding-left: 1rem;

      h1 {
        font-size: 2rem;
        line-height: 2rem;
        text-align: left;
      }

    }

    .body {
      .images {
        width: 100%;

        .img {
          margin-bottom: 1rem;
          margin-left: 0;
        }
      }

    }
  }
}

//font sizes for mobile
@media only screen and (max-width: 500px) {
  .section {
    padding: 0;

    .header {
      h1 {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }

    .body {
      a {
        padding: 0.8rem 1rem;
        font-size: 1.25rem;
        line-height: 120%;

      }
    }
  }
}