.section {
  display: flex;
  width: 75%;
  justify-content: space-between;
  max-width: 75%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 4rem;

  .textSection {
    width: 50%;

    h1 {
      font-weight: 700;
      font-size: 3.8rem;
      line-height: 114%;
      text-transform: capitalize;
      color: #111111;
    }

    p {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 140%;
      color: #16161d;
    }

    span {
      display: block;
    }

    a {
      display: inline-block;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 150%;
      text-transform: capitalize;

      color: var(--primary-color);
      background-color: #fff;
      padding: 0.8rem;
      border: 0.125rem solid var(--primary-color);
      border-radius: 0.5rem;

      &:hover {
        background-color: var(--primary-color);
        color: #fff;
        cursor: pointer;
      }
    }
  }

  .imageSection {
    margin: auto auto;
  }
}

@media only screen and (max-width: 800px) {
  .section {
    max-width: 100%;
    width: 100%;
    display: block;
    padding: 0;

    .textSection {
      width: 100%;
      text-align: center;
      padding-bottom: 3rem;

      p {
        margin: 3rem auto;
      }

      .hOne {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)),
          url("/image8.svg");
        background-repeat: repeat, no-repeat;
        background-size: cover;
        background-position: 50% 20%;
        padding: 5rem 2rem 1rem;

        h1 {
          width: 90%;
          margin: 0 auto;
          color: var(--white-color);
          font-size: 3.2rem;
          text-align: center;
          vertical-align: bottom;
          margin-top: 3rem;
        }
      }
    }
  }

  .imageSection {
    display: none;
  }
}

//font sizes for mobile
@media only screen and (max-width: 500px) {
  .section {
    .textSection {
      padding-bottom: 1rem;

      button {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.2rem;
        padding: 0.5rem;
      }

      p {
        font-size: 1.2rem;
        line-height: 150%;
        margin: 2rem auto;
        padding: 0 1.2rem;
      }

      a span {
        font-size: 1.2rem;
        line-height: 150%;

      }

      .hOne {
        h1 {
          width: 100%;
          font-size: 2rem;
          margin-top: 3rem;
        }
      }
    }
  }
}