.section {
  width: 90%;
  max-width: 1440px;
  margin: 100px auto;
  // min-height: 30vh;
  margin-bottom: 2rem;
  background-image: url("/aboutUsBg1.svg"), url("/aboutUsBg2.svg");
  background-position: 0% 0%, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  padding: 2rem;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  h2 {
    text-align: center;
    font-style: normal;
    text-transform: capitalize;
    font-size: 2.875rem;
    line-height: 1.5rem;
    color: #3c3f48;
    font-weight: 700;
    color: #3c3f48;
  }

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.125rem;
    text-align: center;
    text-transform: capitalize;
    color: #3c3f48;
  }

  p {
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 150%;
    color: var(--primary-color);
    width: 60%;
    margin: 0 auto;

    &:nth-of-type(2) {
      margin-top: 3rem;
    }

    &:last-of-type {
      text-align: center;
      width: 40%;
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: 800px) {
  .section {
    max-width: 100%;
    width: 100%;
    display: block;
    padding: 3rem 0 2rem;

    p {
      width: 85%;
      text-align: center;

      &:last-of-type {
        width: 85%;
        margin-bottom: 6rem;
      }
    }
  }
}

//font sizes for mobile
@media only screen and (max-width: 500px) {
  .section {
    div {
      margin-top: 3rem;
    }

    h2 {
      margin-top: 4rem;
      font-size: 2rem;
      line-height: 1.2rem;
    }

    h3 {
      font-size: 1.1rem;
      line-height: 1.8rem;
    }

    p {
      font-size: 1.25rem;
    }
  }
}