.section {
  background-color: var(--secondary-color);
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
  padding-bottom: 4rem;
  font-family: "Montserrat", sans-serif;

  .header {
    text-align: center;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 3.25rem;
      line-height: 145%;
      text-transform: capitalize;
      color: var(--primary-color);
    }

    p {

      font-style: normal;
      font-weight: 400;
      font-size: 1.625rem;
      line-height: 150%;
      color: #16161D;
    }
  }

  .card {
    max-width: 90%;
    min-width: 70%;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: var(--white-color);
    border-radius: 1.125rem;
    display: flex;

    .contactArea {
      background-color: #000000;
      border-radius: 0.875rem;
      color: var(--white-color);
      width: 33%;
      padding: 2rem;

      h2 {

        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 236%;
      }

      p {

        font-weight: 400;
        font-size: 1.25rem;
        line-height: 150%;
      }

      address a {
        margin: 1.5rem 0;
        display: inline-flex;
        font-style: normal;

        &.contactUsPhoneNos::before {
          background-image: url('/contact-us/contactUsPhoneIcon.svg');
          content: ' ';
          background-size: 1.8rem 1.8rem;
          height: 1.8rem;
          width: 1.8rem;
          display: inline-block;
          margin-right: 0.5rem;
        }

        &.contactUsEmail::before {
          background-image: url('/contact-us/contactUsEmailIcon.svg');
          content: ' ';
          background-size: 1.8rem 1.8rem;
          height: 1.8rem;
          width: 1.8rem;
          display: inline-block;
          margin-right: 0.5rem;
        }

      }

      .socialMedia {
        margin-top: 4rem;

        a {
          padding: 0 0.3rem;
          margin-right: 1.8rem;

        }
      }

    }

    form {
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;

      .custonInputs {
        min-width: 48%;
        padding: 0.2rem 1rem;
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 155%;

        label {
          display: block;
        }

        &:focus-within label {
          color: var(--primary-color);
        }

        &.textarea {
          min-width: 96%;

        }

        input,
        select,
        textarea {
          font-family: "Montserrat", sans-serif;
          border: none;
          border-bottom: 0.125rem solid rgba(0, 0, 0, 0.29);
          width: 100%;
          font-style: normal;
          font-weight: 500;
          font-size: 1.25rem;
          line-height: 155%;

          &:focus-visible {
            outline: none;
            border-bottom: 0.125rem solid var(--primary-color);
          }
        }

        select {
          padding-top: 0.4rem;

          &.firstItem {
            color: gray;

            option {
              color: #000000;
            }
          }

          option:first-of-type {
            color: gray
          }
        }
      }

      .end {
        width: 85%;
        display: flex;
        align-items: center;

        p {
          padding-left: 1rem;
          font-style: normal;
          font-weight: 400;
          font-size: 1rem;
          line-height: 150%;

          color: #696969;
        }


        button {
          background-color: var(--primary-color);
          border-radius: 0.5rem;
          padding: 0.8rem 5rem;
          border: none;
          height: max-content;
          color: var(--white-color);
          font-style: normal;
          font-weight: 400;
          font-size: 1.25rem;
          line-height: 1.5rem;
          margin-left: 3rem;
          cursor: pointer;

          &:disabled {
            background-color: #696969;
            cursor: not-allowed;

          }

          &.sent {
            background-color: var(--green-color);
            cursor: not-allowed;

          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .section {
    padding: 2rem 1rem 0;

    .header,
    .card {
      padding: 1rem 2rem;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .section {
    margin-top: 0;
    padding-bottom: 4rem;

    .card {
      max-width: 96%;
      flex-wrap: wrap;

      form {
        order: 1;
      }

      .contactArea {
        order: 2;
        width: 90%;
        justify-self: center;
        margin: 0 auto;
        margin-bottom: 4rem;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .section {
    .header {

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
      }
    }

    .card {
      padding: 0.5rem;

      .contactArea {
        padding: 0.8rem 0.5rem;

        h2 {

          font-size: 1.4rem;
          line-height: 180%;
        }

        p {

          font-weight: 400;
          font-size: 1rem;
          line-height: 120%;
        }

        address a {
          margin: 1rem 0;
          font-size: 0.8rem;

        }

        .socialMedia {
          a {
            padding: 0 0.3rem;
            margin-right: 1rem;

          }
        }
      }

      form {
        padding: 1rem 0.5rem;

        .custonInputs {
          font-size: 1rem;
          line-height: 120%;
          min-width: 100%;
          margin-bottom: 1.5rem;

          &.textarea {
            min-width: 100%;

          }

          input,
          select,
          textarea {

            &::placeholder {

              font-size: 0.8rem;
            }
          }
        }

        .end {
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          margin: 0 auto;

          p,
          button {
            margin-bottom: 1rem;
            width: 100%;
          }

          button {

            margin-left: 0;
          }
        }
      }
    }
  }
}